/*
Theme Name: Soft Group
Theme URI: #
Description: test theme
Author: varfolomejev
Author URI: #
Version: 1.0
*/

*{
    margin: 0;
    padding: 0;
}
.clearfix:after{
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
}
#searchsubmit {
    padding: 9px 12px;
}
#searchform {
    padding: 0;
    /*width: 100%;*/
}